body {
    background-color: #f9f9f9; /* Cambia #EFEFEF al color que desees utilizar */
}

.Dividirdiv {
    display: flex; /* Utilizar flexbox para alinear elementos en línea */
}

.ParteIzquierda {
    width: 24%;
    background-color: #00BFFF;
    z-index: 999;
}

.ParteDerecha {
    width: 75%;
    background-color: #0093ee6f;
    z-index: 999;
}

.Foto {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.Foto img {
    display: block; /* Esto asegura que la imagen sea un bloque */
    margin: 0 auto; /* Centra horizontalmente la imagen dentro del contenedor */
    max-width: 100%; /* Evita que la imagen se desborde del contenedor */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
}

.Encabezado {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: left; /* Centrar horizontalmente */
    justify-content: left; /* Centrar verticalmente */
}

.estudios {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente */
}

.tablaHabilidades {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente */
}

.Nombre,
.Carrera, 
.FormacionAcademica, 
.Habilidades{
    text-align: center;
}

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-c4ww{background-color:#FFD700;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-s5xa{background-color:#191970;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-61xu{background-color:#FFA500;border-color:inherit;text-align:left;vertical-align:top}

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-s5xa{background-color:#4169E1;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-61xu{background-color:#FFD700;border-color:inherit;text-align:left;vertical-align:top}