body {
    background-color: #14499a; /* Cambia #EFEFEF al color que desees utilizar */
}
.titulos {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 20px;
}
.titulos p{
    font-size: 20px;
    color: #000000;
    margin-bottom: 20px;
}

.imagen {
    float: center;
    width: 200px; /* Ancho deseado */
    height: 360px; /* Alto deseado */
    border-radius: 50%; /* Esto crea una forma ovalada al establecer el radio de la esquina en el 50% del ancho y alto */
    overflow: hidden; /* Recorta cualquier parte de la imagen que se salga de la forma ovalada */
}
.imagen img {
    align-items:center ;
    width: 100%; /* Asegura que la imagen se ajuste completamente al contenedor ovalado */
    height: auto; /* Permite que la altura se ajuste automáticamente según el ancho */
}

.contenedor {
    padding: 20px;
    display: flex;
}
.infoPersonal {
    flex: 1;
    padding: 20px;
}

.subtituloEstudios {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #000000;
}
.estudios {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-c4ww{background-color:#cbcefb;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-s5xa{background-color:#9698ed;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-61xu{background-color:#cbcefb;border-color:inherit;text-align:left;vertical-align:top}

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-s5xa{background-color:#9698ed;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-61xu{background-color:#cbcefb;border-color:inherit;text-align:left;vertical-align:top}

.hdehobies{
    padding-left: 200px;
    display: flex;
}
.hdehobies ul{
    padding-left: 300px;
}
.subtitulos{
    flex: 1;
    padding: 50px;
    padDing-left: 180px;
    display: flex;
}
.hobies{
    flex: 1;
    display: flex;
    padding-left: 300px;
}