<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="titulos">
        <h1>Pablo Andres Rodriguez Lima</h1>
            <h2>Estudiante cuarto semestre de Ing. Ciencias y Sistemas</h2>
            <p>Soy una persona Estudiante de Ingeniería de Sistemas apasionado por la tecnología y el trabajo en equipo.
                Comprometido con aprender y aplicar soluciones innovadoras.
                Me caracterizo por mi amabilidad y habilidad para colaborar en proyectos multidisciplinarios. </p>
    </div>
    <div class="contenedor">
        <img src="{{ url_for('static', filename='images/PABLOfoto.jpg') }}" alt="Pablo's Foto">
    
        <div class="infoPersonal">
            <h3>Información Personal</h3>
            <ul>
                <li>Fecha de Nacimiento: 29 de Agosto del 2003</li>
                <li>Edad: 20 años</li>
                <li>Estado Civil: Soltero</li>
                <li>Nacionalidad: Guatemalteco</li>
                <li>DPI: 3014 21463 0101</li>
                <li>Estado de DPI: Vigente</li>
            </ul>
        </div>
        <div class="infoPersonal">
            <h3>Contacto</h3>
            <ul>
                <li>Celular: +502 5112 0845 </li>
                <li>Correo: pabloa10rodriguez@gmail.com</li>
                <li>Direccion: Mazatenango, Suchitepéquez, Guatemala </li>
            </ul>
        </div>
    </div>

    <div>
        <h3>Experiencia Laboral</h3>
        <ul>
            <li>Ayudante en Construcciones "Roca": (2022 - presente)
                <p>
                    Apoyo en la planificación, en proyectos de reconstrucción en escuelas. <br>
                    Realicé inspecciones en el sitio para supervisar el progreso y la calidad de la construcción.
                </p>
            </li>
            <li>Asistente Administrativo en "Buffete Legal Rodriguez": (2021 - 2022) 
                <p> 
                    Recepción de Clientes. <br>
                    Manejo de Conmutador. <br> 
                    Asistencia a mesa de entradas. <br>
                    Organización de libro de entrada y salida. <br>
                    Mantenimiento de archivo.
                </p> 
            </li>
    </div>

    <div class="subtituloEstudios">
        <h3>Estudios</h3>
    </div>

    <div class="estudios">
        <table class="tg">
            <thead>
            <tr>
                <th class="tg-s5xa" colspan="3"><span style="font-weight:normal">Grado de Estudios</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="tg-c4ww">Año</td>
                <td class="tg-c4ww">Nivel de Estudios</td>
                <td class="tg-61xu">Lugar de Estudios</td>
            </tr>
            <tr>
                <td class="tg-61xu">2017</td>
                <td class="tg-61xu">Primero Básico</td>
                <td class="tg-61xu">Instituto Tecnológico del Sur Occidente</td>
            </tr>
            <tr>
                <td class="tg-61xu">2018</td>
                <td class="tg-61xu">Segundo Básico</td>
                <td class="tg-61xu">Instituto Tecnológico del Sur Occidente</td>
            </tr>
            <tr>
                <td class="tg-61xu">2019</td>
                <td class="tg-61xu">Tercero Básico</td>
                <td class="tg-61xu">Instituto Tecnológico del Sur Occidente</td>
            </tr>
            <tr>
                <td class="tg-61xu">2020</td>
                <td class="tg-61xu">4to Bachillerato en Computación</td>
                <td class="tg-61xu">Instituto Tecnológico del Sur Occidente</td>
            </tr>
            <tr>
                <td class="tg-61xu">2021</td>
                <td class="tg-61xu">5to Bachillerato en Computación</td>
                <td class="tg-61xu">Instituto Tecnológico del Sur Occidente</td>
            </tr>
            <tr>
                <td class="tg-c4ww">2022</td>
                <td class="tg-c4ww">Primer Semestre Ing Ciencias y Sistemas</td>
                <td class="tg-61xu">Universidad San Carlos de Guatemala</td>
            </tr>
            <tr>
                <td class="tg-61xu">2022</td>
                <td class="tg-61xu">Segundo Semestre Ing Ciencias y Sistemas</td>
                <td class="tg-61xu">Universidad San Carlos de Guatemala</td>
            </tr>
            <tr>
                <td class="tg-61xu">2023</td>
                <td class="tg-61xu">Tercer Semestre Ing Ciencias y Sistemas</td>
                <td class="tg-61xu">Universidad San Carlos de Guatemala</td>
            </tr>
            <tr>
                <td class="tg-61xu">2023</td>
                <td class="tg-61xu">Cuarto Semestre Ing Ciencias y Sistemas</td>
                <td class="tg-61xu">Universidad San Carlos de Guatemala</td>
            </tr>
            </tbody>
            </table>
    </div>

    <div class="subtitulos">
        <h3>Conocimientos/Habilidades técnicos</h3>
        <h3 class="hobies">Hobbies</h3>
    </div>
    <div class="hdehobies">

        <table class="tg">
            <thead>
            <tr>
                <th class="tg-s5xa">HABILIDADES</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="tg-61xu">Manejo de herramientas de trabajo</td>
            </tr>
            <tr>
                <td class="tg-61xu">Conexiones de Electricidad básica</td>
            </tr>
            <tr>
                <td class="tg-61xu">Conocimientos de Carpinteria Basica</td>
            </tr>
            <tr>
                <td class="tg-61xu">Conocimientos de Mecanica Basica</td>
            </tr>
            <tr>
                <td class="tg-61xu">Conocimientos en Python</td>
            </tr>
            <tr>
                <td class="tg-61xu">Conocimientos en Java</td>
            </tr>
            <tr>
                <td class="tg-61xu">Conocimientos en C++</td>
            </tr>
            <tr>
                <td class="tg-61xu">Conocimientos en HTML</td>
            </tr>
            <tr>
                <td class="tg-61xu">Conocimientos en CSS</td>
            </tr>
            <tr>
                <td class="tg-61xu">Conocimientos en JavaScript</td>
            </tr>
            </tbody>
            </table>
        
        <ul>
            <h4>Actividades recreativas</h4>
            <li>Jugar Ajedrez</li>
            <li>Armar rompecabezas</li>
            <li>Leer</li>
            <li>Ver Series</li>
            <li>Escuchar Musica</li>
            <li>Jugar Videojuegos</li>
            <li>Hacer ejercicio: Hacer senderismo</li>
        </ul>
    </div>
</body>
</html>