<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <h1>Pablo Andres Rodriguez Lima</h1>
    <h2>Estudiante cuarto semestre de Ing. Ciencias y Sistemas</h2>
    <p>Soy una persona Estudiante de Ingeniería de Sistemas apasionado por la tecnología y el trabajo en equipo. 
        Comprometido con aprender y aplicar soluciones innovadoras. 
        Me caracterizo por mi amabilidad y habilidad para colaborar en proyectos multidisciplinarios. </p>
    
    <div>
        <h3>Información Personal</h3>
        <ul>
            <li>Fecha de Nacimiento: 29 de Agosto del 2003</li>
            <li>Edad: 20 años</li>
            <li>Estado Civil: Soltero</li>
            <li>Nacionalidad: Guatemalteco</li>
            <li>DPI: 3014 21463 0101</li>
            <li>Estado de DPI: Vigente</li>
        </ul>
    </div>

    <div>
        <h3>Contacto</h3>
        <ul>
            <li>Celular: </li>
            <li>Correo: </li>
            <li>Direccion: </li>
        </ul>
    </div>

    <div>
        <h3>Estudios</h3>
        
        <table class="tg">
            <thead>
            <tr>
                <th class="tg-c3ow" colspan="3">Grado de Estudios</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="tg-c3ow">Año</td>
                <td class="tg-c3ow">Nivel de Estudios</td>
                <td class="tg-0pky">Lugar de Estudios</td>
            </tr>
            <tr>
                <td class="tg-0pky">2017</td>
                <td class="tg-0pky">Primero Básico</td>
                <td class="tg-0pky">Instituto Tecnológico del Sur Occidente</td>
            </tr>
            <tr>
                <td class="tg-0pky">2018</td>
                <td class="tg-0pky">Segundo Básico</td>
                <td class="tg-0pky">Instituto Tecnológico del Sur Occidente</td>
            </tr>
            <tr>
                <td class="tg-0pky">2019</td>
                <td class="tg-0pky">Tercero Básico</td>
                <td class="tg-0pky">Instituto Tecnológico del Sur Occidente</td>
            </tr>
            <tr>
                <td class="tg-0pky">2020</td>
                <td class="tg-0pky">4to Bachillerato en Computación</td>
                <td class="tg-0pky">Instituto Tecnológico del Sur Occidente</td>
            </tr>
            <tr>
                <td class="tg-0pky">2021</td>
                <td class="tg-0pky">5to Bachillerato en Computación</td>
                <td class="tg-0pky">Instituto Tecnológico del Sur Occidente</td>
            </tr>
            <tr>
                <td class="tg-c3ow">2022</td>
                <td class="tg-c3ow">Primer Semestre Ing Ciencias y Sistemas</td>
                <td class="tg-0pky">Universidad San Carlos de Guatemala</td>
            </tr>
            <tr>
                <td class="tg-0pky">2022</td>
                <td class="tg-0pky">Segundo Semestre Ing Ciencias y Sistemas</td>
                <td class="tg-0pky">Universidad San Carlos de Guatemala</td>
            </tr>
            <tr>
                <td class="tg-0pky">2023</td>
                <td class="tg-0pky">Tercer Semestre Ing Ciencias y Sistemas</td>
                <td class="tg-0pky">Universidad San Carlos de Guatemala</td>
            </tr>
            <tr>
                <td class="tg-0pky">2023</td>
                <td class="tg-0pky">Cuarto Semestre Ing Ciencias y Sistemas</td>
                <td class="tg-0pky">Universidad San Carlos de Guatemala</td>
            </tr>
            </tbody>
            </table>
    </div>

    <div>
        <h3>Conocimientos/Habilidades técnicos</h3>
        <ul>
            <li>Manejo de herramientas de trabajo</li>
            <li>Conexiones de Electricidad básica</li>
            <li>Conocimientos de Carpinteria Basica </li>
            <li>Conocimientos de Mecanica Basica</li>
            <li>Conocimientos en Python</li>
            <li>Conocimientos en Java</li>
            <li>Conocimientos en C++</li>
            <li>Conocimientos en HTML</li>
            <li>Conocimientos en CSS</li>
            <li>Conocimientos en JavaScript</li>
        </ul>
    </div>

    <div>
        <h3>Hobbies</h3>
        <ul>
            <h4>Actividades recreativas</h4>
            <li>Jugar Ajedrez</li>
            <li>Armar rompecabezas</li>
            <li>Leer</li>
            <li>Ver Series</li>
            <li>Escuchar Musica</li>
            <li>Jugar Videojuegos</li>
            <li>Hacer ejercicio: Hacer senderismo</li>
        </ul>


    </div>

    <div>
        <h3>Experiencia Laboral</h3>
        <ul>
            <li>Ayudante en Construcciones "Roca": (2022 - presente)
                <p>
                    Apoyo en la planificación, en proyectos de reconstrucción en escuelas. <br>
                    Realicé inspecciones en el sitio para supervisar el progreso y la calidad de la construcción.
                </p>
            </li>
            <li>Asistente Administrativo en "Buffete Legal Rodriguez": (2021 - 2022) 
                <p> 
                    Recepción de Clientes. <br>
                    Manejo de Conmutador. <br> 
                    Asistencia a mesa de entradas. <br>
                    Organización de libro de entrada y salida. <br>
                    Mantenimiento de archivo.
                </p> 
            </li>
    </div>
</body>
</html>